





                    <!-- Location list show here  -->

<H1>Location List</H1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Country Name</th>
            <th>Description</th>
            <th>Lat</th>
            <th>Long</th>
            <th>Location Name</th>
            <th>Photo</th>
            <th>ZipCode</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let l of locationlist | async">
            <td>{{l.lcountry}}</td>
            <td>{{l.ldescription}}</td>
            <td>{{l.llat}}</td>
            <td>{{l.llong}}</td>
            <td>{{l.lname}}</td>
            <td>{{l.lphoto}}</td>
            <td>{{l.lzipcode}}</td>
            <td>
                <button class="btn btn-danger">Delete</button>
                <button class="btn btn-success">Update</button>
                <!-- <button class="btn btn-worning" (click)="updateStudent(student.id)">Update</button> -->


            </td>
        </tr>
    </tbody>
</table>
