<!-- Location list show here  -->

<H1 class="text-center " (click)="listofLocation()"><button class=" btn btn-danger" style="font-size: 20px;"> Location
        List</button> </H1>

<button class=" btn btn-danger" style="font-size: 20px;" (click)="addlocation()" > Add Location</button>
<table class="table table-hover  bordered " *ngIf="listshow">
    <thead>
        <tr>
            <th>Country Name</th>
            <th>Description</th>
            <th>Lat</th>
            <th>Long</th>
            <th>Location Name</th>
            <th>Photo</th>
            <th>ZipCode</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let l of locationlist | async">
            <td>{{l.lcountry}}</td>
            <td>{{l.ldescription}}</td>
            <td>{{l.llat}}</td>
            <td>{{l.llong}}</td>
            <td>{{l.lname}}</td>
            <td>{{l.lphoto}}</td>
            <td>{{l.lzipcode}}</td>
            <td>
                <button class="btn btn-danger" (click)="deleteLocation(l.lid)">Delete</button>
                <button class="btn btn-success">Update</button>
                <!-- <button class="btn btn-worning" (click)="updateStudent(student.id)">Update</button> -->
            </td>
        </tr>
    </tbody>
</table>






<div class="card-body m-5 col-12 col-md-11 col-lg-11" *ngIf="showform">

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Location Name</label>
            <input type="text" class="form-control" name="lname" [(ngModel)]="location.lname">
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name="ldescription" [(ngModel)]="location.ldescription">
        </div>

        <div class="form-group">
            <label>Lat</label>
            <input type="text" class="form-control" name="llat" [(ngModel)]="location.llat">
        </div>

        <div class="form-group">
            <label>Long</label>
            <input type="text" name="gender" value="llong" [(ngModel)]="location.llong">
        </div>

        <div class="form-group">
            <label>Photo</label>
            <input type="text" name="gender" value="lphoto" [(ngModel)]="location.lphoto">
        </div>
        <div class="form-group">
            <label>ZipCode</label>
            <input type="text" class="form-control" name="lzipcode" [(ngModel)]="location.lcountry">
        </div>


        <div class="form-group">
            <label>ZipCode</label>
            <input type="text" class="form-control" name="lzipcode" [(ngModel)]="location.lzipcode">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>