<!-- <p>room-create works!</p> -->
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-2">
        </div>
        <div class="card col-10" style="background-color: antiquewhite">
            <h1 class="text-center">Add New Room</h1>
            <form (ngSubmit)="roomAdd()">
                <div class="row">
                    <div class="col-6">
                        <label>Upload Photos: </label>
                        <input type="file" [(ngModel)]="room.rgallery" name="rgallery">
                        <label>Select Locaction: </label>
                        <select class="col-4" class="form-control" [(ngModel)]="locationId"
                            (ngModelChange)="getLid($event)" name="sdf">
                            <option *ngFor="let l of locationList | async" name="location.lid" [ngValue]="l.lid">
                                {{l.lname}}</option>
                        </select>

                        <label>Select Hotel: </label>
                        <select class="col-4" class="form-control" [(ngModel)]="hotelId"
                            (ngModelChange)="getHid($event)" name="sdf">
                            <option *ngFor="let h of hotelList | async" name="hotel.hid" [ngValue]="h.hid">
                                {{h.hname}}</option>
                        </select>

                        <label>Room Type: </label>
                        <select class="col-4 " class="form-control">
                            <option *ngFor="let rt of roomType | async" name="roomtype" [ngValue]="rt.rtName">
                                {{rt.rtName}}</option>
                        </select>

                        <label>Room Facilities: </label>
                        <select class="col-4 " class="form-control">
                            <option *ngFor="let rf of roomFacilities | async" name="roomFacilities"
                                [ngValue]="rf.rfName">
                                {{rf.rfName}}</option>
                        </select>
                        <label>Room Details: </label>
                        <textarea class="form-control" [(ngModel)]="room.rdetails" name="rdetails"></textarea>
                    </div>
                    <div class="col-6">
                        <label>Room Number: </label>
                        <input type="number" class="form-control" [(ngModel)]="room.rnumber" name="rnumber">
                        <label>Room Price: </label>
                        <input type="number" class="form-control" [(ngModel)]="room.rprice" name="rprice">
                        <label>Discount: </label>
                        <input type="number" class="form-control" [(ngModel)]="room.rdiscount" name="rdiscount">
                        <label>Room Size: </label>
                        <input type="number" class="form-control" [(ngModel)]="room.rsize" name="rsize">
                        <label>Adult Capacity:</label>
                        <input type="number" class="form-control" [(ngModel)]="room.radultcapacity" name="radultcapacity">
                        <label>Child Capacity:</label>
                        <input type="number" class="form-control" [(ngModel)]="room.rchildcapacity" name="rchildcapacity">
                        
                    </div>
                    <div class="col-1 p-3">
                        <button class="btn btn-info">Submit</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>