
<nav id="sidebarMenu"  class="collapse d-lg-block sidebar collapse"
  style="margin-top: 80px; background-color: lightseagreen;">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <button class="btn btn-outline-light h" routerLink="/alllocation">
        <h4>Location</h4>
      </button>
      <button class="btn btn-outline-light h" routerLink="/allhotel">
        <h4>Hotel</h4>
      </button>
      <button class="btn btn-outline-light h" routerLink="/allfacilities">
        <h4>Hotel Faciliteis</h4>
      </button>
      <button class="btn btn-outline-light h" routerLink="/allroom">
        <h4>Room</h4>
      </button>
      <button class="btn btn-outline-light h" routerLink="/allroomfacilities">
        <h4>Room Faciliteis</h4>
      </button>
      <button class="btn btn-outline-light h" routerLink="/allroomtype">
        <h4>Room Type</h4>
      </button>
      <button class="btn btn-outline-light h" routerLink="/allbooking">
        <h4>Booking</h4>
      </button><br><br>


      
      <button class="btn btn-outline-light h" routerLink="/addlocation">
        <h4>Add Location</h4>
      </button>
      <button class="btn btn-outline-light h" routerLink="/addhotel">
        <h4>Add Hotel</h4>
      </button>
      <button class="btn btn-outline-light h" routerLink="/createfacilities">
        <h4>Add Hotel Faciliteis</h4>
      </button>
      <button class="btn btn-outline-light h" routerLink="/createroom">
        <h4>Add Room</h4>
      </button>
      <button class="btn btn-outline-light h" routerLink="/addroomfacilities">
        <h4>Add Room Faciliteis</h4>
      </button>
      <button class="btn btn-outline-light h" routerLink="/addroomtype">
        <h4>Add Room Type</h4>
      </button>
    </div>
  </div>
</nav>

