
<section style="border-bottom: 100px;">
<div class="main">
 <h1 style="text-align:center;"><span>Dashboard</span></h1><br><br><br><br>
  <div class="gallery">
    <!-- <a target="_blank" href="/assets/g2.jpg"> -->
      <!-- <img src="/assets/g2.jpg" alt="" width="800" height="600"> -->   
    <!-- </a> -->
    <!--<div class="desc">Add a description of the image here</div>-->
    <h1 style="text-align:center;color: rgb(77, 75, 214);">Trainee</h1><br>
    <h3 style="text-align:center;">Total Trainee: 15</h3>
    <h3 style="text-align:center;">Newely Added: 5</h3><br>
    <button class="button" (click)="students()">Go to Page</button>
  </div>
  
  <div class="gallery">
    <!-- <a target="_blank" href="/assets/G1.jpg">
      <img src="/assets/G1.jpg" alt="" width="800" height="600">
    </a> -->
    <!--<div class="desc">Add a description of the image here</div>-->
    <h1 style="text-align:center;color: rgb(49, 78, 204);">Instructor</h1><br>
    <h3 style="text-align:center;">Total Instructor: 12</h3>
    <h3 style="text-align:center;">Newely Added: 3</h3><br>
    <button class="button" (click)="faculties()">Go to Page</button>

  </div>
  
  <div class="gallery">
    <!-- <a target="_blank" href="/assets/g3.jpg">
      <img src="/assets/g3.jpg" alt="" width="800" height="600">
    </a> -->
    <!--<div class="desc">Add a description of the image here</div>-->
    <h1 style="text-align:center;color: rgb(54, 102, 235);">All Staff</h1><br>
    <h3 style="text-align:center;">Total Staff: 8</h3>
    <h3 style="text-align:center;">Newely Added: 2</h3><br>
    <button class="button" (click)="staff()">Go to Page</button>
  </div>

  <div class="gallery">
    <!-- <a target="_blank" href="/assets/g3.jpg">
      <img src="/assets/g3.jpg" alt="" width="800" height="600">
    </a> -->
    <!--<div class="desc">Add a description of the image here</div>-->
    <h1 style="text-align:center;color: rgb(77, 80, 209);">TSP</h1><br>
    <h3 style="text-align:center;">Total TSP: 3</h3>
    <h3 style="text-align:center;">Newely Added: 1</h3><br>
    <button class="button" (click)="courses()">Go to Page</button>
  </div><br><br><p>&nbsp;&nbsp;&nbsp;</p>
</div>
</section>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>


