<div class="card" *ngIf="facilitiesList" style="background-color: antiquewhite" >
<button class="btn btn-info" (click)="openForm()">Add New</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Facilities</th>
            <th>Description</th>
            <th>Keyword</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hf of hotelFacilitiesList | async">
            <td>#{{hf.hfacid}}</td>
            <td>{{hf.hfacname}}</td>
            <td>{{hf.hfacdiscription}}</td>
            <td>{{hf.hfackeyword}}</td>               
            <td>
                <button class="btn btn-success"(click)="updateHotelFacilities(hf.hfacid)">Update</button>
                <button class="btn btn-danger"(click)="deleteHotelFacilities(hf.hfacid)">Delete</button>        
            </td>
        </tr>
    </tbody>
</table>
</div>

<div *ngIf="addform" class="card" style="background-color: aliceblue">
    <button class="btn btn-info" (click)="ngOnInit()">See All</button>
    <form (ngSubmit)="hFacilitiesAdd()">
        <input type="hidden" name="id">
        <input type="text"  placeholder="Facilities" [(ngModel)]="hf.hfacname" name="name">
        <input type="text"  placeholder="Description" [(ngModel)]="hf.hfacdiscription" name="description">
        <input type="text"  placeholder="Keyword" [(ngModel)]="hf.hfackeyword" name="        keyword">
        <button class="btn btn-info">{{isEdit?'Update':'Save'}}</button>
    </form>
</div>