<app-sideber></app-sideber>
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-2">
        </div>
        <div class="card col-10" style="background-color: antiquewhite">
            <div class="col-1 p-3">
                <button class="btn btn-info" routerLink="/createroom">Add New</button>
            </div>        
            <h1 class="text-center">Room List</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Room Number</th>
                        <th>Price</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let r of roomList | async">
                        <td>#{{r.rnumber}}</td>
                        <td>{{r.rprice}}</td>
                        <td>{{r.rstatus}}</td>
                        <!-- <td>
                            <button class="btn btn-success" (click)="updateHotelFacilities(hf.hfacid)">Update</button>
                            <button class="btn btn-danger" (click)="deleteHotelFacilities(hf.hfacid)">Delete</button>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
