<!-- <app-sideber></app-sideber> -->
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-2">
        </div>
        <div class="card col-10" style="background-color: antiquewhite">
            <button class="btn btn-info" routerLink="/createinventory">Add New</button>
            <h1 class="text-center">Inventory</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of inventoryList | async">
                        <td>#{{i.iid}}</td>
                        <td>{{i.istartDate}}</td>
                        <td>{{i.iendDate}}</td>
                        <td>
                            <button class="btn btn-success" (click)="updateInventory(i.hfacid)">Update</button>
                            <button class="btn btn-danger" (click)="deleteInventory(i.hfacid)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
